<div class='well'>
  <%= field_set_tag 'Details' do %>
    <div class='form-controls'>
      <%= f.label :course_number %>
      <%= f.text_field :course_number, :class => 'form-control' %>
    </div>

    <div class='form-controls'>
      <%= f.label :start_time %>
      <% if @submission.start_time %>
      <%= text_field_tag "submission[start_time]", @submission.start_time.to_s(:db_no_seconds),
                          class: 'form-control', id: "submission_start_time" %>
      <% else %>
        <%= f.text_field :start_time, class: 'form-control' %>
      <% end %>
    </div>

    <div class='row'>
      <div class='form-controls col-md-5'>
        <%= f.label :actual_test_length %>
        <%= f.text_field :actual_test_length, :class => 'form-control' %>
      </div>
      <div class='form-controls col-md-5'>
        <%= f.label :student_test_length %>
        <%= f.text_field :student_test_length, :class => 'form-control' %>
      </div>
      <div class='checkbox col-md-2'>
        <%= f.label :extended %>
        <%= f.check_box :extended %>
      </div>
    </div>

    <%= field_set_tag 'Exam Pickup Method', class: 'pull-left width_50' do %>
      <div class='form-controls'>
        <%= label_tag do %>
          <%= f.radio_button :exam_pickup, "Professor Dropoff" %>
          Professor Dropoff
        <% end %>
      </div>

      <div class='form-controls'>
        <%= label_tag do %>
          <%= f.radio_button :exam_pickup, "Student Dropoff" %>
          Student Dropoff
        <% end %>
      </div>

      <div class='form-controls'>
        <%= label_tag do %>
          <%= f.radio_button :exam_pickup, "Professor Email" %>
          Professor Email
        <% end %>
      </div>

      <div class='form-controls'>
        <%= label_tag do %>
          <%= f.radio_button :exam_pickup, "Accessed electronically (e.g., D2L)" %>
          Accessed electronically (e.g., D2L)
        <% end %>
      </div>
    <% end %>

    <%= field_set_tag 'Exam Return Method' do %>
      <div class='form-controls'>
        <%= label_tag do %>
          <%= f.radio_button :exam_return, "Professor Pickup" %>
          Professor Pickup
        <% end %>
      </div>

      <div class='form-controls'>
        <%= label_tag do %>
          <%= f.radio_button :exam_return, "Student Pickup" %>
          Student Pickup
        <% end %>
      </div>

      <div class='form-controls'>
        <%= label_tag do %>
          <%= f.radio_button :exam_return, "Submit electronically (e.g., D2L)" %>
          Submit electronically (e.g., D2L)
        <% end %>
      </div>
    <% end %>

    <!-- Fieldset is floated left so need to clear to get bottom alignment -->
    <div class='clearfix'></div>

    <div class='checkbox'>
      <%= f.label :reader %>
      <%= f.check_box :reader %>
    </div>

    <div class='checkbox'>
      <%= f.label :scribe %>
      <%= f.check_box :scribe %>
    </div>

    <div class='checkbox'>
      <%= f.label :laptop %>
      <%= f.check_box :laptop %>

      <%= f.text_field :laptop_reason, placeholder: "Reason for laptop", class: "form-control" %>
    </div>
  <% end %>
</div>

<div class='well'>
  <%= field_set_tag 'Administrative' do %>
    <div class='checkbox'>
      <%= f.label :cancelled %>
      <%= f.check_box :cancelled %>
    </div>
    <div class='checkbox'>
      <%= f.label :no_show %>
      <%= f.check_box :no_show %>
    </div>
  <% end %>
</div>
