<%= form_for @submission, :html => { :class => "form" } do |f| %>
  
  <%= render :partial => "form_errors", :locals => { :model => @submission } %>
  <%= render :partial => "submission_form", :locals => { :f => f } %>

  <div class='form-controls'>
    <label></label>
    <%= f.submit "Save", :class => 'btn btn-primary btn-block' %>
  </div>

  <div class='form-controls'>
    <label></label>
    <%= link_to "Cancel & Go Back", submissions_path, :class => 'btn btn-default btn-block' %>
  </div>

<% end %>