<%= form_for @submission, :html => { :class => "form" } do |f| %>
  <div class='form-controls'>
    <%= f.label :student_name %>:
    <%= f.text_field :student_name, :class => 'form-control' %>
  </div>

  <div class='form-controls'>
    <%= f.label :student_email %>:
    <%= f.text_field :student_email, :class => 'form-control' %>
  </div>

  <div class='form-controls'>
    <%= f.label :course_number %>:
    <%= f.text_field :course_number, :class => 'form-control' %>
  </div>

  <div class='form-controls'>
    <%= f.label :start_time %>:
    <%= f.text_field :start_time, :class => 'form-control' %>
  </div>

  <div class='form-controls'>
    <%= f.label :class_length %>:
    <%= f.text_field :class_length, :class => 'form-control' %>
  </div>

  <div class='form-controls'>
    <%= f.label :exam_pickup %>:
    <%= f.text_field :exam_pickup, :class => 'form-control' %>
  </div>

  <div class='form-controls'>
    <%= f.label :exam_return %>:
    <%= f.text_field :exam_return, :class => 'form-control' %>
  </div>

  <div class='form-controls'>
    <label></label>
    <%= f.submit "Save", :class => 'btn btn-primary btn-block' %>
  </div>

  <div class='form-controls'>
    <label></label>
    <%= link_to "Back", submissions_path, :class => 'btn btn-default btn-block' %>
  </div>

<% end %>