<h3>Test Breakdown for <%= @description %></h3>
<table class='table table-bordered table-striped'>
  <thead>
    <tr>
      <th>Date</th>
      <th>R & S</th>
      <th>L & S</th>
      <th>Reader</th>
      <th>Scribe</th>
      <th>Laptop</th>
      <th>Extended Time</th>
      <th>* No Show</th>
      <th>* Cancelled</th>
      <th>TOTALS</th>
    </tr>
  </thead>
  <tbody>
    <% @semester_report.each do |date, row| %>
      <tr>
        <td><%= date %></td>
        <td><%= row[:reader_scribe] %></td>
        <td><%= row[:laptop_scribe] %></td>
        <td><%= row[:reader] %></td>
        <td><%= row[:scribe] %></td>
        <td><%= row[:laptop] %></td>
        <td><%= row[:extended] %></td>
        <td><%= row[:no_show] %></td>
        <td><%= row[:cancelled] %></td>
        <td><%= row[:total] %></td>
      </tr>
    <% end %>
    <tr class="info">
      <td>SUB-TOTALS</td>
      <td><%= @semester_subtotal[:reader_scribe] %></td>
      <td><%= @semester_subtotal[:laptop_scribe] %></td>
      <td><%= @semester_subtotal[:reader] %></td>
      <td><%= @semester_subtotal[:scribe] %></td>
      <td><%= @semester_subtotal[:laptop] %></td>
      <td><%= @semester_subtotal[:extended] %></td>
      <td><%= @semester_subtotal[:no_show] %></td>
      <td><%= @semester_subtotal[:cancelled] %></td>
      <td><%= @semester_subtotal[:total] %></td>
    </tr>

    <!-- Finals Week -->
    <tr>
      <th>Date</th>
      <th>R & S</th>
      <th>L & S</th>
      <th>Reader</th>
      <th>Scribe</th>
      <th>Laptop</th>
      <th>Extended Time</th>
      <th>* No Show</th>
      <th>* Cancelled</th>
      <th>TOTALS</th>
    </tr>
    <% @finals_report.each do |date, row| %>
      <tr>
        <td><%= date %></td>
        <td><%= row[:reader_scribe] %></td>
        <td><%= row[:laptop_scribe] %></td>
        <td><%= row[:reader] %></td>
        <td><%= row[:scribe] %></td>
        <td><%= row[:laptop] %></td>
        <td><%= row[:extended] %></td>
        <td><%= row[:no_show] %></td>
        <td><%= row[:cancelled] %></td>
        <td><%= row[:total] %></td>
      </tr>
    <% end %>
    <tr class="info">
      <td>FINALS SUB-TOTALS</td>
      <td><%= @finals_subtotal[:reader_scribe] %></td>
      <td><%= @finals_subtotal[:laptop_scribe] %></td>
      <td><%= @finals_subtotal[:reader] %></td>
      <td><%= @finals_subtotal[:scribe] %></td>
      <td><%= @finals_subtotal[:laptop] %></td>
      <td><%= @finals_subtotal[:extended] %></td>
      <td><%= @finals_subtotal[:no_show] %></td>
      <td><%= @finals_subtotal[:cancelled] %></td>
      <td><%= @finals_subtotal[:total] %></td>
    </tr>
    <tr class="success">
      <td>GRAND TOTAL</td>
      <td><%= @semester_subtotal[:reader_scribe] + @finals_subtotal[:reader_scribe] %></td>
      <td><%= @semester_subtotal[:laptop_scribe] + @finals_subtotal[:laptop_scribe] %></td>
      <td><%= @semester_subtotal[:reader] + @finals_subtotal[:reader] %></td>
      <td><%= @semester_subtotal[:scribe] + @finals_subtotal[:scribe] %></td>
      <td><%= @semester_subtotal[:laptop] + @finals_subtotal[:laptop] %></td>
      <td><%= @semester_subtotal[:extended] + @finals_subtotal[:extended] %></td>
      <td><%= @semester_subtotal[:no_show] + @finals_subtotal[:no_show] %></td>
      <td><%= @semester_subtotal[:cancelled] + @finals_subtotal[:cancelled] %></td>
      <td><%= @semester_subtotal[:total] + @finals_subtotal[:total] %></td>
    </tr>  
  </tbody>
</table>
<strong>* No-show and cancelled not counted in totals</strong>